#Header {
	text-align: center;
	padding : 20px;
	margin : 20px;
	font-style: Serif;
	font-size:60px;
}

#displayedWord {
	background-color : black;
	color: white;
	font-size: 30px;
	text-align: center;
}

#guessWord {
	text-align : center;
	font-style: Serif;
}

#lifeLeft {
	text-align: center;
	font-size : 25px;
	color:red;
}

#correctGuesses{
	float:left;
	font-size: 20px;
	margin:20px;
	padding:20px;
}

#incorrectGuesses{
	float:right;
	font-size:20px;
	margin:20px;
	padding:20px;
}
#guessword{
	clear:both;
}

#footer{
	clear:both;
	text-align : center;
}

#image{
	text-align : center;
}
